.hero {
    padding-block-start: calc(var(--section-padding) + 70px);
    text-align: center;
  }
  
  .hero .container {
    display: grid;
    gap: 70px;
  }
  
  .hero-title { color: var(--white); }
  
  .hero-text {
    font-size: var(--fs-5);
    color: var(--white);
    margin-block: 24px 36px;
  }
  
  .btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .hero-slider,
  .hero-card { position: relative; }
  
  .hero-card .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    color: var(--charcoal);
    font-size: 2rem;
    padding: 25px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);
    animation: pulse 2s ease infinite;
  }
  
  .hero-card .play-btn:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--white_a70); }
    75% { box-shadow: 0 0 0 20px transparent; }
  }
  
  .hero .slider-inner {
    border-radius: var(--radius-10);
    overflow: hidden;
  }
  
  .hero .slider-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    transition: var(--transition-2);
  }
  
  .hero .slider-item {
    min-width: 100%;
    width: 100%;
    border-radius: var(--radius-10);
    overflow: hidden;
  }
  
  .hero .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white_a70);
    color: var(--charcoal);
    font-size: 2rem;
    padding: 12px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);
  }
  
  .hero .slider-btn:is(:hover, :focus-visible) { background-color: var(--white); }
  
  .hero .slider-btn.prev { left: 20px; }
  
  .hero .slider-btn.next { right: 20px; }
  
  
  
  