

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

 @media (min-width: 575px) {

    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
  
  
    /**
     * PROJECTS
     */
  
    .project-card .card-content { padding: 40px; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 120px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .grid-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * HEADER
     */
  
    .header .btn {
      display: block;
      margin-inline-start: auto;
      padding: 8px 20px;
    }
  
    .header.active .btn {
      background-color: var(--violet-blue-crayola);
      border-color: var(--violet-blue-crayola);
      color: var(--white);
    }
    /**
     * HERO
     */
  
    .hero-content {
      max-width: 85%;
      margin-inline: auto;
    }
  
    .hero-text { --fs-5: 2rem; }
  
  
  
    /**
     * SERVICE
     */
  
    .service .section-title {
      max-width: 30ch;
      margin-inline: auto;
    }
  
  
  
    /**
     * ABOUT
     */
  
    .about .container {
      grid-template-columns: 1fr 0.7fr;
      align-items: center;
    }
  
  
  
    /**
     * FEATURE
     */
  
    .feature .container {
      grid-template-columns: 0.7fr 1fr;
      align-items: center;
    }
  
    .feature-banner { order: 1; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
  
  
    /**
     * HEADER
     */
  
    .nav-open-btn,
    .navbar > *:not(.navbar-list),
    .overlay { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: block;
      margin-inline: auto 24px;
    }
  
    .navbar-list {
      display: flex;
      gap: 30px;
    }
  
    .navbar-link {
      color: var(--white);
      transition: var(--transition-1);
    }
  
    .navbar-link:is(:hover, :focus-visible) { opacity: 0.7; }
  
    .header.active .navbar-link { color: var(--charcoal); }
  
    .header.active .navbar-link:is(:hover, :focus-visible) {
      opacity: 1;
      color: var(--violet-blue-crayola);
    }
  
    .header .btn { margin-inline-start: 0; }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      padding-block-start: calc(var(--section-padding) + 10px);
      text-align: left;
    }
  
    .hero .container {
      grid-template-columns: 1fr 0.8fr;
      align-items: center;
    }
  
    .hero-content {
      max-width: unset;
      margin-inline: 0;
    }
  
    .btn-wrapper { justify-content: flex-start; }
  
  
  
    /**
     * STATS
     */
  
    .stats-card { grid-template-columns: repeat(4, 1fr); }
  
  
  
    /**
     * PROJECT
     */
  
    .project .section-title {
      max-width: 32ch;
      margin-inline: auto;
    }
  
  
  
    /**
     * CTA
     */
  
    .cta .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .cta .btn { min-width: max-content; }
  
    .cta .section-title {
      max-width: 30ch;
      margin-block-end: 0;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .grid-list { grid-template-columns: repeat(4, 1fr); }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1140px; }
  
  
  
    /**
     * HERO
     */
  
    .hero-text { padding-inline-end: 100px; }
  
  
  
    /**
     * SERVICE
     */
  
    .service .grid-list { grid-template-columns: repeat(4, 1fr); }
  
  
  
    /**
     * STATS
     */
  
    .stats .container { max-width: 70%; }
  
    .stats-card { padding: 60px; }
  
  
  
    /**
     * PROJECT
     */
  
    .project .grid-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * FOOTER
     */
  
    address.footer-text {
      padding-inline-end: 100px;
      margin-block-end: 16px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1400px screen
   */
  
  @media (min-width: 1400px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1320px; }
  
    
  
    /**
     * FEATURE
     */
  
    .feature-list { grid-template-columns: 1fr 1fr; }
  
  }