.about .container {
    display: grid;
    gap: 50px;
  }
  
  .about .section-title { margin-block-end: 35px; }
  
  .accordion-card .card-title { padding-block-end: 20px; }
  
  .accordion-btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .accordion-btn ion-icon {
    font-size: 1.5rem;
    color: var(--blue-crayola);
    transition: var(--transition-1);
  }
  
  .accordion-card.expanded .accordion-btn ion-icon {
    transform: rotate(0.5turn);
  }
  
  .accordion-btn .span { transition: var(--transition-1); }
  
  .accordion-btn:is(:hover, :focus-visible) .span,
  .accordion-card.expanded .accordion-btn .span { color: var(--violet-blue-crayola); }
  
  .accordion-content {
    padding-inline-start: 24px;
    max-height: 0;
    overflow: hidden;
  }
  
  .accordion-card.expanded .accordion-content {
    max-height: max-content;
    padding-block-end: 20px;
  }
  p.accordion-content {
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;

  }
  